#
# cgit options
#
CGIT_PREFIX=
CGIT_PASSWORD=password
CGIT_SSH_KEY=
CGIT_SSH_KEY_NAME=

CGIT_LFS_HOST=0.0.0.0:80
CGIT_LFS_CONTENTPATH=/var/lib/git/lfs
CGIT_LFS_ADMINUSER=test
CGIT_LFS_ADMINPASS=password

#
# gitbucket options
#
GITBUCKET_MAXFILESIZE=209715200
GITBUCKET_UPLOADTIMEOUT=600
GITBUCKET_PORT=80
GITBUCKET_BASE_URL=http://gitbucket
